.ma{
    margin: 1em;
}
.ma10{
    margin: 10em;
  }
.left-menu{
  background-color: rgb(230, 230, 230);
  position: fixed;
  width: 150px;
  top: 70px;
  left: 0;
  height: auto;




}
.container{
  margin-left: 150px;
}
