.left-menu{
  position: fixed;
  width: 25%;
  top: 70px;
  left: 0;
  height: auto;

}

.container{
	width: 75%;
}

.noreview{
	column-span:5;
	text-align: center;
	font-weight: bold;
}

.list{
	margin-top: 20px;
}

.confirm_text{
	color: red;
	font-weight: bolder;
}